html {
	height: 100%;
}

.custom {
	height: 100%;
	width: 100%;
}

.customJumbotron {
	height: 100%;
	width: 100%;
	background: #4484CE;
}

body{
	font-family: 'Bitter', serif;
	height: 100%;
	background: #F9CF00;
}

h1 {
	color: #D9D9D9;
}

h2{
	font-family: 'Courgette', cursive;
	color: #984B43;
	width: 100%;
	text-align: center;
}

h3 {
	color: #18121E;
}

.customHeight {
	min-height: 100px;
}

.customContainer {
	position: relative;
}

.vertAlign{
	position: absolute;
	top: 40%;
}